/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(52, 154, 220);
}

/* Estilos del Header */
header {
  background-color: rgb(0, 102, 204);
  color: white;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul img {
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-in-out
}

nav ul img:hover{
  transform: scale(1.25);
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 3rem;
  position: relative;
  transition: color 0.3s ease-in, background-color 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after{
  width: 100%;
}

.main {
  margin-top: 1rem;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.backImage {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 0;
}

.backImage img {
  display: block;
  width: 490px;
  max-width: 100%;
  animation: zoomfloat 5s infinite ease-in-out ;
}

@keyframes zoomfloat{
  0%{
    transform: scale(1) translateY(0);
  }
  50%{
    transform: scale(1.05) translateY(-10px);
  }
  100%{
    transform: scale(1) translateY(0);
  }
}

.main-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
}

.main-text {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.main-text h2 {
  font-size: 4rem;
  margin: 0;
}

.main-text p {
  font-size: 1.7rem;
  margin-top: 10px;
}

.main-search-input {
  display: flex;
  width: 65%;
  padding: 10px;
  border-radius: 30px;
  backdrop-filter: blur(5px);
}

.main input {
  font-size: 25px;
  width: 70%;
  height: 30px;
  padding: 25px;
  border: none;
  outline: none;
  border-radius: 30px 0 0 30px;
  transition: all 0.3s ease;
}

.main input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.main button {
  width: 30%;
  height: 80px;
  background-color: rgb(0, 102, 204);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 0 30px 30px 0;
  transition: all 0.3s ease-in-out;
}

.main button:hover {
  background-color: rgb(0, 85, 170);
  transform: scale(1.05);
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}